.mt-100{
    margin-top: 35vh;
}

body{
    background: #020f0f;
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
    background: linear-gradient(to right, #dae4e7, #979797);
    color: #514B64;
    min-height: 30vh;
    width: 100%;
}
label{
    font-weight: 400;
    font-size: 24px;
    color: #ffff;
}

